button {
  background-color: black;
  max-width: 300px;
  color: white;
  border-radius: 6px;
  outline: none;
  height: 40px;
  width: 100%;
  cursor: pointer;
  margin: 30px;
}

@media screen and (max-width: 600px) {
  button {
    background-color: red;
    transform: rotate(45deg);
  }
}
